{% extends "master.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-register-box container">  
    <h1>Login</h1>

    {% if error %}
        <p class="error-text">{{ error }}</p>
    {% endif %}

    {% if error_message %}
        <p class="error-text">{{ error_message }}</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post" novalidate>
        {% csrf_token %}

       
        <p>
            <label for="id_username">Username:</label>
            {{ form.username }}
        </p>

        <p>
            <label for="id_password">Password:</label>
            {{ form.password }}
        </p>

        <div style="text-align: center;">
            <button type="submit" class="login-register-btn">Login</button>
        </div>
    </form>

    <span class="login-register-link">
        Don't have an account? <a href="{% url 'register' %}">Sign up</a>
    </span>
</div>
{% endblock %}
